body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: grey;
    font-family: 'Courier New', Courier, monospace;
}

.calculator {
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#display {
    padding: 26.40px;
    font-size: 30px;
    border: none;
    text-align: right;
    background-color: rgb(236, 236, 236);
    color: rgb(29, 21, 21);
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 105px);
}

.btn {
    padding: 20px;
    font-size: 20px;
    border: 1px solid black;
    background-color: rgb(29, 21, 21);
    color: whitesmoke;
    cursor: pointer;
}

.equal {
    grid-column: span 3;
    background-color: rgb(85, 84, 84);
}

.btn:hover {
    opacity: 0.8;
}